IndentWidth: 4
SpaceAfterCStyleCast: false
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: false
SpacesBeforeTrailingComments: 2
IndentGotoLabels: false
SeparateDefinitionBlocks: Always
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
InsertBraces: true
ColumnLimit: 120
